html {
    background-color: whitesmoke;
}
.body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: ghostwhite;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: skyblue !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: dodgerblue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.btn {
    color: skyblue;
    background-color: whitesmoke;
}

.btn:hover {
    color: dodgerblue;
}

footer {
    background-color: ghostwhite;
    color: skyblue;
    padding: 32px;
}

.homeImgSize {
    width: 240px;
    height: 130px !important;
}

.home-header {
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.footerLayout {
    display: inline-block;
}

.home-sub-header {
    font-size: 25px;
    font-family: "Libre Baskerville", serif;
    line-height: 45px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 0px;
    padding-bottom: 7px;
}
p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

.img-centered {
    margin: 0 auto;
}
.box{
    border: hidden;
}
.jumbotron {
    background-color: #b9def0;
    color: white;
}