<!-- Build a title -->
<header id="title">
    <div class="jumbotron text-center">
        <h2 class="home-header">App</h2>
        <p class="home-sub-header">This app is all about blabla!</p>

        <!-- Subscribe for new info-->
        <form class="form-inline">
            <input type="email" class="form-control" size="40" placeholder="Email address" required="required" ng-model="emailForm">
            <button type="button" class="btn" ng-click="emailSend()">Stay in Touch</button>
        </form>
    </div>
</header>

<section id="locationsTable">
    <div class="container">
        <table class="table table-condensed">
            <thead class="text-center">
                <th>ID</th>
                <th>Location Name</th>
                <th>Image Path</th>
            </thead>
            <tbody ng-repeat="locatin in allLocations">
                <tr>
                    <td>location.id</td>
                    <td>location.name</td>
                    <td>location.image</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>