<!-- Build a title -->
<header id="title">
    <div class="jumbotron text-center">
        <h2 class="home-header">App</h2>
        <p class="home-sub-header">This app is all about blabla!</p>

        <!-- Subscribe for new info-->
        <form class="form-inline">
            <input type="email" class="form-control" size="40" placeholder="Email address" required="required" ng-model="emailForm">
            <button type="button" class="btn" ng-click="emailSend()">Stay in Touch</button>
        </form>
    </div>
</header>

<section id="locationsTable">
    <div class="container">
        <table class="table table-condensed">
            <thead class="text-center">
                <th>Site Name</th>
                <th>Rating</th>
                <th>Address</th>
                <th>Activity Hours</th>
                <th>History</th>
                <th>Public Transport</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr ng-repeat="site in sites">
                    <td>{{site.name}}</td>
                    <td>{{site.rating}}</td>
                    <td>{{site.address}}</td>
                    <td>{{site.activityHours}}</td>
                    <td>{{site.history}}</td>
                    <td>{{site.publicTransport}}</td>
                    <td>{{site.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>